<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@RyanSilva2004 | Laptop Price Predictor</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="Title"> Laptop Price Predictor</div>

    <div class="form-container">
        <form action="/" method="POST">
            <table cellpadding="5">
                <tr>
                    <td>Ram (GB)</td>
                    <td><input type="text" id="ram" name="ram"></td>
                </tr>
                <tr>
                    <td>Weight (Kg)</td>
                    <td><input type="text" id="Weight" name="Weight"></td>
                </tr>
                <tr>
                    <td>Brand</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Display</td>
                    <td>
                        
                    </td>
                </tr>
            </table>
            <button>Predict Price</button>
            
           
        </form>
    </div>
</body>
</html>