input 
{
color: hsl(271, 100%, 51%);
border: 2px solid #8707ff;
border-radius: 10px;
padding: 10px 25px;
background: transparent;
max-width: 190px;
}

input:active 
{
box-shadow: 2px 2px 15px #8707ff inset;
}

.form-container 
{
text-align: center;
width: 400px;
background: linear-gradient(#212121, #212121) padding-box,
            linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
border: 2px solid transparent;
padding: 32px 24px;
font-size: 14px;
font-family: inherit;
color: white;
display: flex;
flex-direction: column;
gap: 20px;
box-sizing: border-box;
border-radius: 16px;
align-items: center;
}

button {
    --purple: #8707ff;
    font-size: 10px;
    padding: 0.8em 3em;
    letter-spacing: 0.08em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--purple);
    background: linear-gradient(to right, rgba(135, 7, 255, 0.1) 1%, transparent 40%, transparent 60%, rgba(135, 7, 255, 0.1) 100%);
    color: var(--purple);
    box-shadow: inset 0 0 10px rgba(135, 7, 255, 0.4), 0 0 9px 3px rgba(135, 7, 255, 0.1);
}

button:hover {
    color: #BFA3F3;
    box-shadow: inset 0 0 10px rgba(135, 7, 255, 0.6), 0 0 9px 3px rgba(135, 7, 255, 0.2);
}

button:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(135, 7, 255, 0.1) 40%, rgba(135, 7, 255, 0.1) 60%, transparent 100%);
}

button:hover:before {
    transform: translateX(15em);
}
.check {
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
  }
  
  .check:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(34,50,84,0.03);
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  
  .check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
  }
  
  .check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
  }
  
  .check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
  }
  
  .check:hover:before {
    opacity: 1;
  }
  
  .check:hover svg {
    stroke: #4285f4;
  }
  
  #cbx:checked + .check svg {
    stroke: #4285f4;
  }
  
  #cbx:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
  }
  
  #cbx:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
  }